{% include "hexcasting:index.css.jinja" %}

.flay-recipe-block-ingredient .badge{
    position: absolute;
    background-color: #292929;
    bottom: -4px;
    right: -4px;
}


.flay-recipe-result .badge{
    position: absolute;
    background-color: #292929;
    bottom: -4px;
    right: -4px;
}