{% extends "pages/patchouli/page.html.jinja" %}
{% import "macros/hex_recipes.html.jinja" as hex_recipes with context %}
{% import "macros/formatting.html.jinja" as fmt with context %}
{% import "macros/textures.html.jinja" as texture_macros with context -%}

{% block body %}
    {# just yoinking straight from macro for now #}
  <details class="details-collapsible flay-recipe-details">
    <summary class="collapse-details">
      <span class="collapse-recipe-show">{{ _('hexdoc.recipe.show') }}</span>
      <span class="collapse-recipe-hide">{{ _('hexdoc.recipe.hide') }}</span>
    </summary>
    <div>
      <h5>{{ page.recipe.result.name }}</h5>
      <div class="flay-recipe">
        <img
          class="flay-recipe-background pixelated"
          alt="Flay Mind Recipe GUI"
          src="{{ 'hexgloop:textures/gui/itemflaygui.png'|hexdoc_texture }}"
        >
        {{ hex_recipes.render_brainsweepee(page.recipe) }}
        <div class="flay-recipe-block-ingredient">
          {{ texture_macros.render_item(page.recipe.ingredient.item, count=page.recipe.inCount) }}
        </div>

        <div class="flay-recipe-result">
          {{ texture_macros.render_item(page.recipe.result, count=page.recipe.resultCount) }}
        </div>
      </div>
    </div>
  </details>
  {{ fmt.styled(page.text) }}
{% endblock body %}